<app-logged-in-template>
    <ng-container *ngIf="pendingRequests">

        <h2 *ngIf="pendingRequests.length > 0">
            Current Requests
        </h2>
        <div *ngIf="pendingRequests.length > 0">
            <div *ngFor="let pendingRequest of pendingRequests">
                <label (click)="goToUser(pendingRequest)">{{getContactUserName(pendingRequest)}}</label>
                <ion-icon name="checkmark-circle" (click)="confirm(pendingRequest)"></ion-icon>
                <ion-icon name="remove-circle" (click)="deny(pendingRequest)"></ion-icon>
            </div>
        </div>

    </ng-container>

    <h2 *ngIf="contacts.length > 0">
        Your Contacts
    </h2>
    <div *ngIf="contacts.length > 0" id="contacts">
        <ng-container *ngFor="let contact of contacts">
            <div *ngIf="getOtherContactUser(contact)?.id" class="contact">
                <div class="profile-image" [ngStyle]="profileImageStyle(getOtherContactUser(contact))"></div>
                <label (click)="goToUser(contact)">{{getContactUserName(contact)}}</label>
                <ion-icon name="text" (click)="messageUser(contact)"></ion-icon>
            </div>
        </ng-container>
    </div>
</app-logged-in-template>
