<app-logged-in-template>

    <form *ngIf="entity && membershipPlans">
        <div class="validator-error" *ngIf="error">{{error}}</div>

        <div *ngIf="feature">
            <h3>You need to upgrade your account to get access to this feature.</h3>
            <p>{{feature.description}}</p>
            <p>Membership plans, which will give you access to this feature are listed below. Your cost is prorated to the end of your current subscription, at which point you will be charged the full amount for another year. Lifetime subscriptions are not prorated.</p>
        </div>

        <ng-container *ngIf="currentSubscription">
            Your {{currentSubscription.membership_plan_rate.membership_plan.name}} subscription is {{getCurrentSubscriptionStatus()}}

            <div class="submit-wrapper" *ngIf="currentSubscription.expires_at">
                <button class="btn btn-primary" *ngIf="currentSubscription.recurring" (click)="setRecurring(false)">Cancel Auto Renewal</button>
                <button class="btn btn-primary" *ngIf="!currentSubscription.recurring" (click)="setRecurring(true)">Turn On Auto Renewal</button>
            </div>
        </ng-container>

        <ng-container *ngIf="membershipPlans.length > 0">
            <ng-container *ngIf="!currentSubscription else upgrading">
                <div class="membership-options">

                    <h3>Select Your Membership Plan</h3>

                    <label *ngFor="let membershipPlan of activeMembershipPlans()" (click)="setSelectedMembershipPlan(membershipPlan)">
                        <input type="radio" name="membership-plan" value="{{membershipPlan.id}}"/>
                        {{membershipPlan.name}} ${{membershipPlan.current_cost}}
                    </label>
                </div>

                <h3 *ngIf="membershipPlans.length == 1">
                    Subscribe to the {{membershipPlans[0].name}} for ${{membershipPlans[0].current_cost}}
                </h3>
            </ng-container>

            <ng-template #upgrading>
                <div class="membership-options">

                    <h3>Upgrade Your Membership Plan</h3>

                    <label *ngFor="let membershipPlan of activeMembershipPlans()" (click)="setSelectedMembershipPlan(membershipPlan)">
                        <input type="radio" name="membership-plan" value="{{membershipPlan.id}}"/>
                        {{membershipPlan.name}} ${{membershipPlan.calculateProratedCost(currentSubscription)}}
                        <span *ngIf="membershipPlans[0].duration !== 'lifetime'"> , the cost will be ${{membershipPlans[0].current_cost}} per {{membershipPlans[0].duration}} after your current subscription expires.</span>
                    </label>

                </div>

                <h3 *ngIf="membershipPlans.length == 1">
                    Upgrade to the {{membershipPlans[0].name}} for ${{membershipPlans[0].calculateProratedCost(currentSubscription)}}
                    <span *ngIf="membershipPlans[0].duration !== 'lifetime'"> after your current subscription expires, the cost will be ${{membershipPlans[0].current_cost}} per {{membershipPlans[0].duration}}.</span>
                </h3>
            </ng-template>
        </ng-container>

        <div [ngStyle]="getCardSelectorDisplay()">

            <div id="payment-options" *ngIf="entity && entity.payment_methods.length > 0">
                <h3>Select Your Payment Method</h3>

                <label *ngFor="let paymentMethod of entity.payment_methods"
                       (click)="setSelectedPaymentMethod(paymentMethod)">
                    <input type="radio" name="payment-options" value="{{paymentMethod.id}}"/>
                    Card Ending In {{paymentMethod.identifier}}
                </label>

                <label (click)="setSelectedPaymentMethod(null)">
                    <input type="radio" name="payment-options"/>
                    New Credit Card
                </label>

            </div>

            <div id="new_card_inputs" [ngStyle]="getCardDisplay()">
                <stripe-card #stripeCard></stripe-card>
            </div>

            <div class="submit-wrapper">
                <button class="btn btn-primary" (click)="submit(stripeCard)">{{currentSubscription ? 'Change Payment Method' : 'Submit'}}</button>
            </div>
        </div>

    </form>

</app-logged-in-template>
