h3 {
    text-align: center;
}
#payment-options {
    margin: 0 0 10px;
}
#new_card_inputs {
    display: flex;
    flex-direction: column;
    stripe-card {
        max-width: 320px;
    }
}

label {
    display: block;
}
