<div class="standard-padding">

    <div id="sign-in-content">

        <img *ngIf="getBrandingImageUrl()" id="logo" [src]="getBrandingImageUrl()">

        <form [formGroup]="form" class="standard-padding">
            <div>
                <label>Email Address</label>
                <input type="email" ngDefaultControl formControlName="email" [formControl]="form.controls.email"/>
            </div>

            <div *ngIf="submitted && !form.controls.email.valid" class="validator-error">
                Please enter a valid email address.
            </div>

            <div>
                <label >Password <small>(at least 6 characters)</small></label>
                <input type="password" ngDefaultControl formControlName="password" [formControl]="form.controls.password"/>
            </div>

            <div *ngIf="submitted && !form.controls.password.valid" class="validator-error">
                Please enter a valid 6 digit password.
            </div>

            <div class="submit-wrapper">
                <a *ngIf="getForgotPasswordUrl()" [href]="getForgotPasswordUrl()">I forgot my password</a>
                <button (click)="submit()">Sign In</button>
            </div>
        </form>
    </div>

</div>

<footer>
    Copyright 2019, {{getBrandingName()}}
</footer>
