<app-logged-in-header></app-logged-in-header>

<div class="standard-padding">

    <form [formGroup]="form" class="standard-content">
        <div>
            <label>Name</label>
            <input class="form-control" type="text" ngDefaultControl formControlName="name" [formControl]="form.controls.name"/>
        </div>

        <div *ngIf="submitted && !form.controls.name.valid" class="validator-error">
            Please enter your name.
        </div>

        <div>
            <label >About Me</label>
            <textarea type="text" class="form-control" ngDefaultControl formControlName="about_me" [formControl]="form.controls.about_me"></textarea>
        </div>

        <div>
          <label>
            <input type="checkbox" ngDefaultControl formControlName="allow_users_to_add_me" [formControl]="form.controls.allow_users_to_add_me"/>
            Allow Members to Add Me
          </label>
        </div>

        <div>
            <label position="stacked">
                Password <small>(at least 6 characters)</small>
                <br>
                <i><small>Leave blank in order to keep current password.</small></i>
            </label>
            <input class="form-control" type="password" ngDefaultControl formControlName="password" [formControl]="form.controls.password"/>
        </div>

        <div *ngIf="submitted && !form.controls.password.valid" class="validator-error">
            Please enter a valid 6 digit password.
        </div>

        <div class="submit-wrapper">
            <button (click)="save()" class="btn btn-primary">Save</button>
        </div>
    </form>

</div>
